<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/landingPage.css">
    <title>CatConnect</title>
</head>
<body>
    
   <nav>


    <ul class="nav-links">
        <li><a href="../../index.html">Home &#128062;</a></li>
        <li><a href="#" onclick="logout()">Disconnect &#128062;</a></li>
        <li><a href="user.html">Profile &#128062;</a></li>
        <li><a href="createpost.html">Post &#128062;</a></li>
        <li><a href="contact.html">Contact &#128062;</a></li>
        
    </ul>
   </nav>

   <div class="logo"> <img src="../img/CATCONNECT.gif" alt="CatConnect logo">
 </div>

 <div class="search">

    <input type="search" value="Search Post" id="search">
    <button onscroll="useridfind()">Search</button>
 </div>


 <h2 class="titleLandingpage">Your FYP&#128062;</h2>


    <div class="cardpost" id="cardpost">

         

    </div>


    <div id="likess"></div>

 <footer>
    <p> &#128062;   &copy; 2024 CatConnect  &#128062;</p>
</footer> 
</body>
<script src="../js/landingpage.js"></script>
</html>

