<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/user.css">
    <title>CatConnect</title>
</head>
<body>
    
   <nav>


    <ul class="nav-links">
        <li><a href="/index.html">Home &#128062;</a></li>
        <li><a href="/index.html" onclick="logout()">Disconnect &#128062;</a></li>
        <li><a href="landingPage.html">FYP &#128062;</a></li>
        <li><a href="contact.html">Contact &#128062;</a></li>
        
    </ul>
   </nav>

    <div class="banner">
            
            <button class="adduser art1" id="adduser">Add Friend &#10133;</button>

    </div>

         <div class="avatar" id="avatar"></div>

    <div class="username" id="username">
        <p></p>
    </div>
 <h2 class="titleposts">Last Posts	&#x23EC;</h2>
    <div class="lastposts cardd" id="lastposts">

       




    </div>

    </body>

   <footer>
    <p> &#128062;   &copy; 2024 CatConnect  &#128062;</p>
</footer>
<script src="/assets/js/user.js"></script> 
</html>